* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    width: 100%;
    background-color: #cdcdcd;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #86004C;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.navbar .navbar-left a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all .5s ease;
}

.navbar .navbar-left :hover {
    color: orangered;
}

.navbar .navbar-left img {
    width: 70px;
    margin-right: 20px;
}

.navbar-left ul{
    display: flex;
    gap: 40px;
}

.navbar-left ul li {
    list-style: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.navbar-right button {
    width: 110px;
    padding: 15px;
    background-color: black;
    color: white;
    transition: all .5s ease;
    border-radius: 30px; 
    border: none;   
}

.navbar-right button:hover {
    background-color: orangered;
}

.navbar-right button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.base {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 200px auto;
    background-color: white;
    padding: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.8);
}

.content1 {
    width: 50%;
    margin: auto;
    padding: 25px;
}

.content1 h1 {
    margin: 10px 0 45px 30px;
    font-weight: bolder;
}

.content1 p span {
    margin-left: 20px;
}

.content1 button {
    margin: 30px;
    background-color: black;    
    padding: 10px;
    width: 120px;
    border-radius: 20px;
}

.content1 button a {
    text-decoration: none;
    color: white;    
    font-size: 20px;
}

.downloadcv {
    margin-left: 30px;
    width: 190px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.downloadcv h3, i {
    display: inline;
    color: black;
    text-decoration: none;
}

.socialmedia {
    margin: 30px auto 0 auto;
    width: 390px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}


.content2 {
    width: 45%;
    margin: auto;
}
.profile {
    width: 450px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.profile img{
    width: 450px;
}

.bio {
    margin: 15px 0;
}